#uc-cp-labels-form { width: 100%; }
#uc-cp-labels-sender { width: 35%; float:left; }
#uc-cp-labels-destination{ width: 35%; float:left; }

#uc-cp-labels-form .form-item { margin-bottom: 10px; }
#uc-cp-labels-form input.form-text { font-size: 14px; margin: 0; }

#uc-cp-labels-customs { clear: both; }

#uc-cp-labels-customs-items .form-item,
#uc-cp-labels-form .form-checkboxes .form-item { display: inline-block; }

#uc-cp-labels-customs-items .cp-customs-line-item { display: block; clear: both; }

.cp-existing-shipment { margin: 0.5em 0; }
.cp-cancel-link, .cp-print-link { margin: 0 1em; font-weight: bold; }
.cp-cancel-link { margin-left: 5em; color: red; }
